/* NAVOGATION PART */

body{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: sans-serif;
    /* list-style: none; */
}
nav{
    background-color:white;
    /* height: 100px; */
    width: 100%;
    height: 90px;
    /* margin-top: 10px; */
    overflow: auto;
}

.navbar ul{
    padding: 0;
    margin: 21px 0 0 188px;
    list-style: none;
}
.navbar li{
    float: left;
}
#leftlogo img{
    position: absolute;
    margin-top:25px;
    margin-left: 8px;
}
#rightlogo img{
    position: absolute;
    margin-left: 90%;
    margin-top: -57px;

}
nav a{
    width: 90px;
    display: block;
    /* padding: 0px 1px; */
    /* text-align: center; */
    margin-top: 10px;
    margin-left:10px;
    text-decoration: none;
    /* font-weight:700; */
    font-family:Arial, Helvetica, sans-serif;
    font-size: 110%;
}

#SaearchImage{
    width: 40px;
    margin-top: -10px;
    margin-right: 20px;
}

nav a:hover{
    color: blue;
}


/* FIRST HEAFING */
.firstheading{
    position: relative;
}
.firstheading img{
height: 250px;
width: 100%;
}
.firstheading h4{
    text-align: center;
    position: absolute;
    
    top: 25%;
    width: 100%;
    font-size:36px;
    color: white;
}
.firstheading p{
    position: absolute;
    text-align: center;
    top: 70%;
    width: 100%;
    color: white;
}

/* SECOND HEADING */
#secondimg{
    width: 100%;
    height:390x;
    margin-top: 5%;
}

.list1{
    position: relative;
    float:left;
    /* height: -200px; */
    /* background-color: tomato; */
    width: 50%;
}
.list1 ul{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top:-300px;
    margin-left: 30px;

}
.list2{
    position: relative;
    float: right;
    /* background-color: thistle; */
    column-count: 2;
    width:50%;
    height: 30%;
    
    /* height: 300px; */
}

.list2 ul{
    position:absolute;
    /* display: flex; */
    
    flex-direction: column;
    margin-left: -16px;
    margin-top: -270px;
    column-count: 2;
    /* height: 50%; */
}
.list1 a{
    /* height: 100%; */
    color: white;
    text-decoration: none;
}
.list2 a{
    color: white;
    text-decoration: none;
}

.list1 li{
    list-style: none;
    padding: 10px;
}
.list2 li{
    list-style: none;
    padding: 10px;
}



#list2_h3{
    color: tomato;
    margin-top: -300px;
    margin-left: 675px;
    color: white;
    
    /* position: absolute; */
    /* float: right; */
}

#thirdheading1 {
    /* background-color:blueviolet; */
    text-align: center;
    margin-top: 320px;
    color: blue;
}
.thirdbox{
    /* background-color: tomato; */
    display: flex;
    /* text-align: center;
     */
     float: left;

}
.thirdbox img{
   width: 250px;
   padding: 30px;
   margin-top: 40px;
   margin-left: 6px;
}

.thirdbox p{
    /* background-color:tomato; */
    /* padding-left: 10px; */
    width:250px;
    margin-left: 32px;
    color: blue;
    margin-top:5px;
}
.thirdbox h4{
    background-color: rgba(3,3,82,0.80);
    width: 140px;
    color: white;
    padding: 7px;
    margin-top: -21px;
    margin-left: 37px;
}

#btn{
    background-color:#3983e2;
    margin-top: 0px;
    color: white;
    text-align: center;
    margin-left: 600px;
    padding: 10px;
    width: 130px;
    /* box-shadow: none; */
}

/* Fifth BOX */

.fifth img{
margin-left: 100px;
margin-top: 20px;
width: 80%;
}

/* sixth row */

.sixth img{
    margin-top: 35px;
    height: 400px;
    width: 100%;
}

.sixthcont{
    display: grid;
    width: 350px;
    height: 400px;
    /* background-color:tomato; */
    grid-template-columns: repeat(4,1fr);
    
    grid-template-rows: repeat(2,1fr);
    /* row-gap: 1rm; */
    /* column-gap: 2rem; */

    padding: 20px;
    margin-top: -400px;
}
.item{
    height: 60px;
    width: 132px;
    /* background-color: violet; */
    border: white;
    /* border-radius: 200%; */
}
#s1{
    /* padding: 200px; */
    width: 140px;
    height: 100px;
    /* border: white; */
}
#s2{
    width: 150px;
    margin-left: 120px;
    height: 100px;
}
#s3{
    width: 150px;
    margin-left: 30px;
    height: 100px;
    /* padding: 40px 0 0 63px; */
    margin-top: 4px;
}
#s4{
    width: 160px;
    margin-left: -15px;
    height: 100px;
}
#s5{
    width: 440px;
    margin-left: 10px;
    height: 150px;
}
#s6{
    width: 150px;
    margin-left: 131px;
    height: 100px;
}
#s7{
    width: 470px;
    margin-left: 48px;
    height: 100px;
    grid-column-start: 3;
    grid-column-end: 5;
    color: white;
}


#s1 pre{
    padding: 10px 0 0 50px;
    font-size: 130%;
    border: white;
    border-radius: 20%;
    color: white;
}

.item img{
    /* width: ; */
    /* text-align: center;*/
    margin-left: 45px;
}

.item p{
    font-size: 110%;
    text-align: center;
    color: white;
}
#emailid{
    width: 300px;
    height: 23px;
}

.interested p{
    /* background-color: tomato; */
    /* text-align: center; */
    margin-left: 334px;
    margin-top: -22px;
}

.lastcont{
    width: 100%;
    height: 330px;
    background-color:#f5f2f2;
    margin-top: 20px;
}
.worldimg img{
    /* background-color: tomato; */
    width: 30%;
    height: 263x;
    padding: 37px;
    margin-top: 20px;
}
.btns{
    margin-left: 640px;
    margin-top: -38px;
}
.btn{
    /* color: blue; */
    color:white;
    background-color: blue;
    margin-left:2px;
    /* font-size: 400%; */
}

.supportcont{
    /* border-color: blue; */
    display: flex;
    flex-direction: row;
}

.supportcont ul{
    list-style: none;
    padding: 20px;
}

.supportcont li{
    padding: 12px;
}
.ls1{
/* background-color: blue; */

margin-left: 600px;
margin-top: -300px;
}
.ls2{
    /* background-color: blue; */
    /* margin-left: 600px; */
    margin-top: -300px;
    }
   .ls3{
        /* background-color: blue; */
        /* margin-left: 600px; */
        margin-top: -300px;
        }
.headings #n1{
    background-color: blue;
    margin-top: -400px;
}
    